@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600&display=swap');

:root {
    --primary-color: #fe2c55;
    --text-color: #333;

    --default-layout-width: 1150px;
    --default-layout-header-height: 60px;
    --font-family: 'Mukta', sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    padding: 0;
    margin: 0;
    color: var(--text-color);
    overflow-y: overlay;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}
